.gold {
    color: goldenrod;
}

.white {
    color: white;
}

.grey {
    color: grey;
}

.white {
    color: white;
}

.section-subtitle {
    color: $primary-color;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: palevioletred;
}

.blue {
    background-color: blue;
}

.uppercase {
    text-transform: uppercase;
}
