main {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;

    .content {
        width: 60%;
        margin: 0 auto;

        h2, h3, h4 {
            text-align: center;
            }
    }

    a {
        text-decoration: none;
    }

    .input {
        text-align: center;
    }
        
    input {
        margin-right: 10px;
    }

    label {
        margin-left: 10px;
    }

    .checkbox {
        margin-left: 10px;
    }

    .hidden {
        display: none;
    }

    span {
        font-weight: bold;
    }

    .authorInfo {
        position: relative;
        left: 30px;
    }

    .address {
        float: left;
        position: relative;
        left: 30px;
    }

    iframe {
       margin-left: 80px;
    }

    .company {
        position: relative;
        left: 30px;
    }

    .hr {
        position: relative;
        left: 30px;
    }
}